export(aSPUpath)
export(aSPUsPath)
export(aSPUpathSingle)
export(simPathAR1Snp)
export(aSPU)
export(aSPUs)
export(aSPUw)
export(getlogitp)
export(GATES2)
export(GatesSimes)
export(Hyst)
export(GEEaSPU)

import(gee)
import(MASS)
importFrom("stats", "fitted.values", "glm", "pchisq", "prcomp",
            "qnorm", "rnorm", "runif")

useDynLib(aSPU)