export(aSPUpath)
export(aSPUsPath)
export(simPathAR1Snp)
export(aSPU)
export(aSPUd)
export(aSPUsD)
export(aSPUs)
export(aSPUw)
export(aSPUr)
export(getlogitp)
export(GATES2)
export(GatesSimes)
export(Hyst)
export(GEEaSPU)
export(minP)
export(estcov)
export(MTaSPUs)
export(MTaSPUsSet)
export(MTaSPUsSetScore)
export(MTaSPUsSetC)
export(MTaSPUsSetPath)

importFrom(gee, gee)
importFrom(MASS, ginv, mvrnorm)
importFrom(mvtnorm, rmvnorm, pmvnorm)
importFrom(matrixStats, rowMins, rowMaxs)
importFrom(fields, image.plot)
importFrom("stats", "fitted.values", "glm", "pchisq", "prcomp", "approx",
            "qnorm", "pnorm", "rnorm", "runif", "cov", "fitted", "formula", "var", "cor")
importFrom("utils", "head", "tail")
importFrom(Rcpp, evalCpp)

useDynLib(aSPU)
