export(aSPUpath)
export(aSPUpath2)
export(aSPUpath2C)
export(aSPUsPath)
export(aSPUsPath2)
export(aSPUsPathC)
export(aSPUsPath2C)
export(simPathAR1Snp)
export(aSPU)
export(aSPUpC)
export(aSPUd)
export(aSPUr)
export(aSPUsD)
export(pruneSNP)
export(aSPUs)
export(aSPUw)
export(getlogitp)
export(GATES2)
export(GatesSimes)
export(Hyst)
export(GEEaSPU)
export(minP)
export(estcov)
export(MTaSPUs)
export(MTaSPUsSet)
export(MTaSPUsSetScore)
export(MTaSPUsSetC)
export(MTaSPUsSetPath)
export(plotPmat)

importFrom(gee, gee)
importFrom(MASS, ginv, mvrnorm)
importFrom(mvtnorm, rmvnorm, pmvnorm)
importFrom(matrixStats, rowMins, rowMaxs)
importFrom(fields, image.plot)
importFrom("stats", "fitted.values", "glm", "pchisq", "prcomp", "approx",
            "qnorm", "pnorm", "rnorm", "runif", "cov", "fitted", "formula", "var", "cor", "mad")
importFrom("utils", "head", "tail")
importFrom(grDevices, rgb)
importFrom(graphics, par, layout, image, title, text, axis)
importFrom(Rcpp, evalCpp)

useDynLib(aSPU)
